/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/
body{

	color: white;
}

.panel{
	box-shadow: none!important;
}

.statusbar-overlay {
    background: #000000;
}

.navbar.theme-red, .searchbar.theme-red, .subnavbar.theme-red, .theme-red .navbar, .theme-red .searchbar, .theme-red .subnavbar, .theme-red .toolbar, .toolbar.theme-red {
    background-color: #BA2228;
}

.theme-red .item-link.list-button, .theme-red a {
    color: white;
}

.content-block{

    padding: 0;
}

.home-tabs{

	text-align: center;
	color: white;
	margin: 5px 5px;

}

/*.home-tabs img{

	width: 70px;

}*/

.strip{

	text-align: center;
	height: 20px;
	background: black;
	margin:10px 0px 10px 0px;
	color: white;
	padding: 5px;
}

.bg{

    background: url('../img/background.png') no-repeat center center;
    background-size: cover;
}

.list-block {

	color: black;
    margin: 0;
    font-size: 14px;
}

.img-round{

	border-radius: 50%;
}

.home-icon{
	
    border-top: 1px solid white;
	color: white;
	text-align: center;
	padding: 10px;
	
}

.home-icon img{
	
	width: 25px;
	
}


.home-icon .col-33{

	border-right: 1px solid white;
	
}

.nav-header{

	color: white;
	margin-top: 0; 
	background:#BA2228;
}

.panel-body{
	padding: 10px;
	text-align: center;
	color: white;

}

/*.panel-body img{

	
	width: 90px;

}*/


.panel-body .col-50{

	margin-bottom: 15px;

}

.text{

	background: transparent;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    width: 70%;
    margin: 10px;
}


.btn{

	    background-color: #ba2228;
    padding: 13px;
    border-radius: 20px;
    width: 77%;
    margin: 10px;
    border: none;
    color: white;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.content-block{
	margin: 0;
}

.panel{
background:rgba(0, 0, 0, 0.48);

}

.cust-card{
	
    background-color: #eaeaea;
    color: black;
    border-radius: 0;
}

.cust-card .card-content-inner{
	
    background-color: white;
}

.card-header {
    border-radius: 0;
  
}
.cust-btn{

	border-radius: 0!important;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.no-mar-pad{

	margin:0;
	padding:0;
}

.page-content{

	margin-top: 56px;
}